<!DOCTYPE html>
<html>
<head>
  <title>Diabetes Health & Lifestyle | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all",
                                "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= render 'layouts/header' %>
 <div class="container">
<%= yield %>
 </div>
<footer>
  <div class="navbar navbar-inverse" id="footer">
  <div class="navbar-inner navbar-nav">
    <ul class="nav pull-left">
    <li><%= link_to "Home", root_path %></li>
    </ul>
    <ul class="nav pull-left">
    <li><%= link_to "Diabetes", diabetes_path %></li>
    </ul>
    <ul class="nav pull-left">
      <li><%= link_to "Exercise", exercise_path %></li>
    </ul>
    <ul class="nav pull-left">
      <li><%= link_to "Recipes", recipes_path %></li>
    </ul>
  </div>
  </div>
</footer>
</body>
</html>
